@import url('https://fonts.cdnfonts.com/css/varela');

:root {
    --primary-color: #61C0FF;
    --primary-color-hover: #2096F3;
    --secondary-color: #ffa654;
    --secondary-colour-hover: #FF9800;
}

.text-logo {
    color: var(--primary-color);
    font-family: "Inter Black", sans-serif;
    font-weight: normal;
    font-style: normal;
}

.text-highlight {
    color: var(--primary-color);
    font-weight: 600;
}

.icon-primary {
    color: var(--primary-color);
}

.icon-secondary {
    color: var(--primary-color);
}

.border-primary {
    border-color: var(--primary-color)
}

.primary-color {
    background-color: var(--primary-color);
}

.btn-secondary {
    background-color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
}

.btn-secondary:hover {
    background-color: var(--secondary-colour-hover) !important;
    border-color: var(--secondary-colour-hover) !important;
}

.btn-primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.btn-primary:hover {
    background-color: var(--primary-color-hover) !important;
    border-color: var(--primary-color-hover) !important;
}

.secondary-color {
    background-color: var(--secondary-color);
}

.cards {
    justify-content: center;
}

.text-justify {
    text-align: justify;
}

.thumbnail-border-radius {
    border-radius: 20px;
}

.py-5 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

.pb-5 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

.d-flex {
    flex-wrap: nowrap !important; /* Prevent wrapping */
   align-items: center;
}

.no-links a {
    text-decoration: none;
    color: inherit;
    pointer-events: none;
}

.layout {
    display: flex;
}

.main-content {
    flex: 3; /* Take up more space for the main content */
    padding: 20px;
}

.sidebar {
    flex: 1; /* Take up less space for the sidebar */
    padding: 20px;
    background-color: #f0f0f0; /* Optional: Add background color to distinguish the sidebar */
}

@media (max-width: 768px) {
    .layout {
        flex-direction: column; /* Stack the elements vertically on smaller screens */
    }
}


.blogImage {
    width: 100%;
    height: auto;
}

.blogImageMid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
}

.blogImageSmall {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: auto;
}

footer {
    background-color:#60c0ff;
    padding-bottom: 85px;
    padding-top: 65px;
    color: #ffffff;
}

.active {
    font-weight: bold;
    color: #007bff;
}

.highlight pre {
    padding: 10px;
}