@import url('https://fonts.cdnfonts.com/css/varela');

.text-logo {
    color: #D59657;
    font-family: "Inter Black", sans-serif;
    font-weight: normal;
    font-style: normal;
}

.text-highlight {
    color: #D59657;
    font-weight: 600;
}

.icon-primary {
    color: #D59657;
}

.icon-secondary {
    color: #D59657;
}

.border-primary {
    border-color: #D59657
}

.primary-color {
    background-color: #D59657;
}

.secondary-color {
    background-color: #D59657;
}

.cards {
    justify-content: center;
}

.text-justify {
    text-align: justify;
}

.thumbnail-border-radius {
    border-radius: 20px;
}

.py-5 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

.pb-5 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

.d-flex {
    flex-wrap: nowrap !important; /* Prevent wrapping */
   align-items: center;
}

.no-links a {
    text-decoration: none;
    color: inherit;
    pointer-events: none;
}

.layout {
    display: flex;
}

.main-content {
    flex: 3; /* Take up more space for the main content */
    padding: 20px;
}

.sidebar {
    flex: 1; /* Take up less space for the sidebar */
    padding: 20px;
    background-color: #f0f0f0; /* Optional: Add background color to distinguish the sidebar */
}

@media (max-width: 768px) {
    .layout {
        flex-direction: column; /* Stack the elements vertically on smaller screens */
    }
}