{{ define "main" }}
<div class="layout">
    <main class="page-content">
        <header>
            <h1>//404</h1>
        </header>
        <p>
        <p>You seem to have taken a wrong turn! <a href="/">Let's get you back on track!</a>.</p>
        <p>
            Note that we have recently redesigned the site so a lot of the old links will be broken,
            especially from Gootle results (which will be reindexed at their leisure).
            Everything is still here though - here are some helpful hints to help you find what you might be looking for:
        </p>
        <ul>
            <li>Guides under <code>/guide/*</code> are now <a href="/howto/">here</a></li>
            <li>The http4k reference  <code>/reference/*</code> is now <a href="/ecosystem/http4k/">here</a></li>
            <li>Tutorials  <code>/tutorials/*</code> are now <a href="/tutorial/">here</a></li>
        </ul>
        <img src="/images/404.webp" class="border-radius-34" alt="404" width="50%"/>
        </article>
    </main>
</div>

{{ end }}
