{{ define "main" }}
<!-- features-->
<div class="developers-custom">
    <div class="container-fluid">
        <h2>HTTP as a Function</h2>
        <div class="row">
            <div class="col-md-6 text-center">
                <img class="img-fluid" style="border-radius: 8px" src="/images/server.png"
                     alt="Creating a server with http4k"/>
                <p>An http4k server is just a regular function that gets invoked with a Request and returns a Response.
                    </br></br>
                    In a single line of code you can switch your server between Java (built-in), Apache, Jetty, Netty,
                    Undertow, Ktor, Ratpack or Helidon.
                </p>
            </div>
            <div class="col-md-6 text-center">
                <img class="img-fluid" style="border-radius: 8px" src="/images/client.png"
                     alt="Creating a client with http4k"/>
                <p>An http4k client is just a regular function that you invoke with a Request and receives a Response.
                    </br></br>
                    In a single line of code you can switch your client implementation between Java (built-in), Apache,
                    Fuel, Jetty, and OkHttp.
                </p>
            </div>
        </div>
    </div>

</div>
<div class="features">
    <div class="container">
        <h2>Highlights</h2>
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="card-custom"><img src="/images/footprint.svg" alt="footprint"/>
                    <h4>Tiny <br/> footprint</h4>
                    <div class="dash blue-color">

                    </div>
                    <p>The core library has no dependencies and it’s all you need to create fully-functional
                        applications. </br></br>
                        http4k APIs take advantage of Kotlin features and are powered by Functional Programming
                        techniques.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card-custom"><img src="/images/extendable.svg" alt="extendable"/>
                    <h4>Highly <br/> extendable</h4>
                    <div class="dash purple-color">

                    </div>
                    <p>
                        Supports many Server, Serverless and HTTP Client technologies behind simple, consistent
                        interfaces. </br></br>
                        http4k provides
                        <a href="/ecosystem/">over 100 pre-built integrations</a> for developers to choose from
                        including Observability, JSON, and OpenAPI support.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card-custom"><img src="/images/testability.svg" alt="testability"/>
                    <h4>First class<br/> testability</h4>
                    <div class="dash secondary-color">

                    </div>
                    <p>
                        Create lightning fast, rock solid test suites for individual endpoints, applications or
                        multi-service systems, all running fully in-memory. </br></br>
                        http4k embraces advanced testing approaches such as
                        <a href="/ecosystem/http4k/reference/approvaltests/">Approval</a>,
                        <a href="/ecosystem/http4k/reference/chaos/">Chaos</a> and
                        <a href="/ecosystem/http4k/reference/servicevirtualisation/">Service Virtualization</a>.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="card-custom"><img src="/images/supportive.svg" alt="supportive"/>
                    <h4>Battle-tested <br/> in the wild</h4>
                    <div class="dash green-color">

                    </div>
                    <p>http4k takes advantage of technologies that have millions of hours of production
                        runtime. </br></br>
                        The toolkit has been used to build high volume applications in Banking, Publishing & Government
                        projects.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="api">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-xl-4">
                        <h2>More than 100 integrations</h2>
                        <p>http4k integrates with many tools, libraries and APIs for building Cloud-Native
                            applications.</p>
                        <a class="btn btn-primary" href="/ecosystem/">Check it out</a>
                    </div>
                    <div class="col-lg-7 offset-xl-1 col-lg-7 offset-xl-1">
                        {{ range .Site.Data.modules }}
                            <div class="row justify-content-center align-items-center">
                                {{ range . }}
                                    <div class="col text-center integrationLogo">
                                        <img class="img-fluid" src="{{ .image }}" alt="{{ .alt }}"/>
                                    </div>
                                {{ end }}
                            </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="container">
                <div class="row justify-content-center mt-2">
                    <div class="col-md-8 col-lg-8 text-center">
                        <h2>Corporate partners</h2>
                        <p>
                            http4k works with selected companies to fund and explore continued innovation around the
                            project. If your organisation is using http4k and would like to take advantage of this
                            program, please <a href="mailto:info@http4k.org?subject=Corporate Sponsorship">get in
                                touch</a>.
                        </p>
                    </div>
                    <div class="row-col-6 justify-content-center d-flex">
                        {{ range .Site.Data.sponsors }}
                            <div class="col-3">
                                <a href="{{ .url }}"><img class="img-fluid"
                                                          src="{{ .logo }}"
                                                          alt="{{ .name}}"/></a>
                            </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
        {{ partial "shared/cta.html" ( dict "hideImages" false "page" .) }}
    </div>
</div>
{{ partial "shared/pipes.html" }}

{{ end }}

