<div style="padding-top: 275px" class="container">
    <div class="row justify-content-center">
        <div class="col-lg-11">
            <div class="api">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-xl-4">
                        <h2>More than 35 integrations</h2>
                        <p>http4k Connect integrates with many popular Cloud and AI HTTP APIs.</p>
                    </div>
                    <div class="col-lg-7 offset-xl-1">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-6 col-md-3 col-lg-3 text-center integrationLogo"><img class="img-fluid"
                                                                                                  src="/images/openai.svg"
                                                                                                  alt="openai"/>
                            </div>
                            <div class="col-6 col-md-3 col-lg-3 text-center integrationLogo"><img class="img-fluid"
                                                                                                  src="/images/dynamodb.png"
                                                                                                  alt="dynamodb"/>
                            </div>
                            <div class="col-6 col-md-3 col-lg-3 text-center integrationLogo"><img class="img-fluid"
                                                                                                  src="/images/google-analytics.svg"
                                                                                                  alt="google analytics"/>
                            </div>
                            <div class="col-6 col-md-3 col-lg-3 text-center integrationLogo"><img class="img-fluid"
                                                                                                  src="/images/kms.png"
                                                                                                  alt="kms"/></div>

                            <div class="col-6 col-md-3 col-lg-3 text-center integrationLogo"><img class="img-fluid"
                                                                                                  src="/images/sqs.png"
                                                                                                  alt="sqs"/></div>

                            <div class="col-6 col-md-3 col-lg-3 text-center integrationLogo"><img class="img-fluid"
                                                                                                  src="/images/anthropic.png"
                                                                                                  alt="anthropic"/>
                            </div>
                            <div class="col-6 col-md-3 col-lg-3 text-center integrationLogo"><img class="img-fluid"
                                                                                                  src="/images/eventbridge.png"
                                                                                                  alt="eventbridge"/>
                            </div>

                            <div class="col-6 col-md-3 col-lg-3 text-center integrationLogo"><img class="img-fluid"
                                                                                                  src="/images/kafka.svg"
                                                                                                  alt="kafka"/>
                            </div>

                            <div class="col-6 col-md-3 col-lg-3 text-center integrationLogo"><img class="img-fluid"
                                                                                                  src="/images/gitlab.svg"
                                                                                                  alt="gitlab"/>
                            </div>
                            <div class="col-6 col-md-3 col-lg-3 text-center integrationLogo"><img class="img-fluid"
                                                                                                  src="/images/cloudwatch.png"
                                                                                                  alt="cloudwatch"/>
                            </div>
                            <div class="col-6 col-md-3 col-lg-3 text-center integrationLogo"><img class="img-fluid"
                                                                                                  src="/images/langchain.svg"
                                                                                                  alt="langchain"/>
                            </div>
                            <div class="col-6 col-md-3 col-lg-3 text-center integrationLogo"><img class="img-fluid"
                                                                                                  src="/images/firehose.svg"
                                                                                                  alt="firehose"/>
                            </div>
                            <div class="col-6 col-md-3 col-lg-3 text-center integrationLogo"><img class="img-fluid"
                                                                                                  src="/images/s3.png"
                                                                                                  alt="s3"/></div>

                            <div class="col-6 col-md-3 col-lg-3 text-center integrationLogo"><img class="img-fluid"
                                                                                                  src="/images/mattermost.svg"
                                                                                                  alt="mattermost"/>
                            </div>
                            <div class="col-6 col-md-3 col-lg-3 text-center integrationLogo"><img class="img-fluid"
                                                                                                  src="/images/lambda.png"
                                                                                                  alt="lambda"/>
                            </div>
                            <div class="col-6 col-md-3 col-lg-3 text-center integrationLogo"><img class="img-fluid"
                                                                                                  src="/images/ollama.svg"
                                                                                                  alt="ollama"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
