{{ define "main" }}

<div class="layout d-flex">
    <main class="main-content ms-4">
        <h1>http4k Professional Solutions</h1>
        <p>Maximize your productivity with http4k, leveraging the simplicity and power of the world’s most flexible and lightweight HTTP libraries. http4k Solutions equips your developers with the tools to build, modernize, and maintain cutting-edge web applications with ease.</p>
        <div class="my-5 py-5">
            <div class="row row-cols-1 row-cols-md-3 row-cols-xl-3 justify-content-center">
                {{ range .Params.top }}
                <div class="col">
                    <h3>{{ .title }}</h3>
                    <p>{{ .description | markdownify }}</p>
                </div>
                {{ end }}
            </div>
            <div class="row p-4 justify-content-center">
                <div class="col-6 d-flex justify-content-center">
                    <a class="btn btn-primary w-100" href="mailto:info@http4k.org?subject=http4k Solutions">Talk to an expert</a>
                </div>
            </div>
        </div>
        {{ partial "shared/highlight.html" .Params.highlights }}
    </main>
</div>
{{ partial "shared/cta.html" ( dict "hideImages" true "page" .) }}

{{ partial "shared/pipes.html" }}

{{ end }}
