{{ define "main" }}

<div class="layout">
    <main class="page-content">
        <header>
            <h1>{{ .Title }}</h1>
        </header>

        <article>
            {{ .Content }}

            <div class="mt-5 row row-cols-3 row-cols-xl-3 justify-content-center">
                <a class="btn btn-secondary" href="mailto:{{.Params.email}}"><b>Contact us</b></a>
            </div>

            <div class="mt-5">
                {{ partial "shared/highlight.html" .Params.highlights }}
            </div>
        </article>
    </main>
</div>

{{ partial "shared/faq.html" . }}

{{ partial "shared/cta.html" ( dict "hideImages" true "page" .) }}

{{ partial "shared/cta-width.html" }}

{{ partial "shared/pipes.html" }}

{{ end }}
