{{ define "main" }}

<div class="layout d-flex">
    <main class="main-content ms-4">
        <h1>{{ .Title }}</h1>
        {{ .Content }}
        <div class="">
            {{ range where .Site.RegularPages "Type" "eq" "news" }}
            <div class="row mb-4 card p-3" style="background-color: white">
                <a href="{{ .RelPermalink }}/" class="text-reset text-decoration-none text-">
                    <div class="d-flex justify-content-between">
                    <h5>{{ .Title }}</h5>
                    <div class="d-flex flex-row-reverse">{{ .Params.date | time.Format "January 2006" }}</div>
                    </div>
                    <div>{{ .Params.description }}</div>
                </a>
            </div>
            {{ end }}
        </div>
    </main>
</div>
{{ partial "shared/pipes.html" }}

{{ end }}
