{{ define "main" }}

<div class="layout">
    <main class="page-content">
        <article>
            <div class="container">
                <h1>{{ .Title }}</h1>
                <div>
                    {{ .Content }}
                </div>
                {{ with .Params.tags }}
                <div>
                    <ul id="tags">
                        {{ range . }}
                        <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
                        {{ end }}
                    </ul>
                </div>
                {{ end }}
            </div>
        </article>
    </main>
</div>
{{ partial "shared/pipes.html" }}

{{ end }}
