<!DOCTYPE html>
<html lang="en">
{{ partial "head/head.html" . }}
{{ partial "shared/landing_styles.html" . }}
<body>
<header class="landing">
    <div class="overlay"></div>
    {{ partial "shared/header.html" . }}
    <div class="container h-80 text-white">
        <div class="row align-items-center h-100">
            <div class="col-md-7 col-lg-5 col-xl-4">
                <h2 class="header mb-4">The Functional toolkit for Kotlin HTTP applications</h2>
                <p class="mb-5">http4k provides a simple and uniform way to serve, consume, and test HTTP services.</p>
                <a class="btn btn-secondary" href="/quickstart/">Quick Start</a>
            </div>
        </div>
    </div>
</header>
<section class="main">
{{- block "main" . -}}{{- end -}}
</section>
{{- partial "shared/footer.html" . -}}
</body>
</html>
