<aside class="sidebar">
    <div>
        <div>
            <ul class="list-unstyled">
                {{ range where .Site.RegularPages "Type" "eq" "ecosystem" }}
                <li>
                    <a href="#" data-bs-toggle="collapse" data-bs-target="#collapse-{{ .File.UniqueID }}">
                        {{ .Title }}
                    </a>
                    <div id="collapse-{{ .File.UniqueID }}" class="collapse">
                        <ul class="list-unstyled ms-3">
                            {{ range where (where .Site.RegularPages ".Type" "module") ".Params.ecosystem" "eq" .Params.ecosystem }}
                            <li>
                                <a href="{{ .RelPermalink }}" class="{{ if eq .RelPermalink $.Page.RelPermalink }}active{{ end }}">{{ .Title }}</a>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</aside>
