<aside class="sidebar">
    <div>
        <ul class="list-unstyled">
            <h2> {{ .Params.ecosystem }}</h2>
            {{ $ecosystem := .Params.ecosystem }}
            <li>
                    <ul class="list-unstyled ms-3">
                        {{ range where (where .Site.RegularPages "Type" "eq" "module") ".Params.ecosystem" "eq" $ecosystem }}
                        <li>
                            <a href="{{ .RelPermalink }}" class="{{ if eq .RelPermalink $.Page.RelPermalink }}active{{ end }}">{{ .Title }}</a>
                        </li>
                        {{ end }}
                    </ul>
            </li>
        </ul>
    </div>
</aside>