<footer>
    <p>&copy; {{ now.Year }} <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></p>
</footer>


<footer class="shared footer bg-blue-light py-5">
    <div class="container">
        <div class="row pb-5 text-start text-xl-start">
            <div class="col-6 col-lg-2 border">
                <a class="navbar-brand d-flex align-items-center" href="{{ .Site.BaseURL }}">
                    <img src="{{ .Site.Params.Logo }}" width="30" height="30"/>
                    <span class="fs-3 text-uppercase text-logo text-primary">&nbsp;{{ .Site.Title }}</span>
                </a>
                <p class="small text-black-61">{{ .Site.Params.description }}</p>
            </div>
            {{ range .Site.Menus.nav }}
            <div class="col-6 col-lg-2 pb-4 border">
                <h5 class="fs-6 fw-semibold text-primary">{{ .Title }}</h5>
                <ul class="list-unstyled">
                    {{ range .Children }}
                    <li><a class="small text-black-61 text-decoration-none" href="{{ .URL }}">{{ .Title }}</a></li>
                    {{ end }}
                </ul>
            </div>
            {{ end }}
        </div>
        <div class="row">
            <div class="col-12">
                <p class="small text-black-61 text-center">&copy; {{ now.Year }} <a href="{{ .Site.BaseURL }}">{{ .Site.Params.copyright }}</p>
            </div>
        </div>
    </div>
</footer>
