<footer >
    <div class="container">
        <div class="row pb-3 text-start text-xl-start">
            <div class="col-md-6 col-lg-3" style="width: 200px">
                <a class="p-0" href="https://http4k.org" >
                    <img src="{{ .Site.Params.LogoSvg }}" alt="logo"/>
                </a>
                Copyright © 2023<br/><br/>
            </div>
            {{ range .Site.Menus.nav }}
            <div class="col-xs-12 col-md">
                <h5>{{ .Title }}</h5>
                <ul class="list-unstyled">
                    {{ range .Children }}
                    <li><a class="small text-white text-decoration-none" href="{{ .URL }}">{{ .Title }}</a></li>
                    {{ end }}
                </ul>
            </div>
            {{ end }}
        </div>
    </div>
</footer>