{{ define "main" }}

<div class="layout">
    <aside class="sidebar">
        <div>
            <div>
                <ul class="list-unstyled">
                    {{ range where .Site.RegularPages "Type" "eq" "ecosystem" }}
                    <li>
                        <a href="#" data-bs-toggle="collapse" data-bs-target="#collapse-{{ .File.UniqueID }}">
                            {{ .Title }}
                        </a>
                        <div id="collapse-{{ .File.UniqueID }}" class="collapse">
                            <ul class="list-unstyled ms-3">
                                {{ range where .Site.RegularPages ".Params.ecosystem" "eq" .Params.ecosystem }}
                                <li>
                                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                                </li>
                                {{ end }}
                            </ul>
                        </div>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </aside>
    <main class="main-content">
        {{ .Content }}
    </main>
</div>

{{ end }}