{{ define "main" }}

<div class="layout d-flex">
    <main class="page-content ms-4">
        <article>
            <h1>{{ .Title }}</h1>
            {{ .Content }}
            <div class="row row-cols-1 row-cols-sm-2 my-5 g-4 justify-content-center">
                {{ range .Site.Data.ecosystem }}
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body d-flex flex-column">
                            <img
                                style="height: 5rem; max-width: 100%; object-fit: contain; margin-bottom: 20px;"
                                src="{{ .image }}" alt="logo">
                            <p class="card-text">{{ .description | markdownify }}</p>
                            <div class="mt-auto d-flex justify-content-end">
                                <a href="/ecosystem/{{ .ref }}/" class="btn btn-secondary">Find out more</a>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
                {{ end }}
            </div>
            <div class="w-100 row row-cols-1 row-cols-sm-2 my-5 g-4 justify-content-center">
                <div class="card h-100 w-100">
                    <div class="card-body d-flex flex-column">
                        <img
                            style="height: 5rem; max-width: 100%; object-fit: contain; margin-bottom: 20px;"
                            src="/images/pro.png" alt="logo">
                        <p class="card-text">http4k Pro modules provide enterprise-ready capabilities essential for teams
                            building scalable, mission-critical applications. These commercially licensed extensions enable
                            enhanced security, monitoring, and reliability features needed for high-volume transaction
                            processing, sensitive data handling, and resilient microservice architectures in regulated
                            environments. Pro modules are available to license standalone or are automatically included
                            as a part of the <a href="/enterprise">http4k Enterprise Edition</a>.</p>
                        <div class="mt-auto d-flex justify-content-end">
                            <a href="/pro" class="btn btn-secondary">Find out more</a>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </main>
</div>
{{ partial "shared/pipes.html" }}

{{ end }}
