{{ define "main" }}

<div class="layout newEcosystem">
    {{ partial "shared/ecosystem-sidebar" . }}

    <main class="page-content col">
        <article>
            <img class="mb-3 sideToggle" src="/images/exchange-icon.svg" width="20" alt="" srcset=""/>
            {{ if .Params.image }}
            <img src="{{ .Params.image }}" alt="Image" class="imageSmall mt-3"/>
            {{ else }}
            <div class="d-flex">
                <h1>
                    {{ with .Params.Category}}{{ . }}: {{ end }}{{ .Title }}
                </h1>
                {{ with .Params.tier }}
                <a href="/enterprise" class="text-decoration-none" title="Get http4k Pro modules!">
                    <span style="transform: translateY(-50%);" class="badge ms-2 text-bg-pro hover:opacity-80 transition-opacity">{{ . }}</span>
                </a>
                {{ end }}

            </div>
            {{ end }}

            {{ if eq .Params.tier "pro" }}
            <div class="mt-3 alert alert-warning border d-flex align-items-center justify-content-between">
                <span>This is an http4k Pro feature and is licensed under the http4k Commercial License</span>
                <a href="/pro" class="btn btn-secondary">Find out more</a>
            </div>
            {{ end }}

            <div class="mt-5">
                {{ if .Params.remote }}
                {{ with .Params.remote }}
                {{ (resources.GetRemote .).Content | markdownify }}
                {{ end }}
                {{ end }}

                {{ .Content }}
            </div>
        </article>
    </main>
</div>

<script language="JavaScript">
    $(".sideToggle").on("click", function () {
        $(".aside").toggleClass("no-side");
    });
</script>

{{ end }}
