{{ define "main" }}

<div class="layout newEcosystem">
    {{ partial "shared/ecosystem-sidebar" . }}

    <main class="main-content col">
        <img class="mb-3 sideToggle" src="/images/exchange-icon.svg" width="20" alt="" srcset=""/>
        <h1>{{ with .Params.Category}}{{ . }}: {{ end }}{{ .Title }}</h1>
        {{ with .Params.remote }}
        {{ (resources.GetRemote .).Content | markdownify }}
        {{ end }}

        {{ .Content }}
    </main>
</div>

<script language="JavaScript">
    $(".sideToggle").on("click", function() {
        $(".aside").toggleClass("no-side");
    });
</script>

{{ end }}
