{{ define "main" }}

<div class="layout d-flex">
    <main class="page-content">
        <div class="row mt-5">
            <div class="col-12 col-md-6">
                <header>
                    <h1>{{ .Title }}</h1>
                </header>
                <article>
                    {{ .Content }}
                </article>
            </div>
            <div class="col--12 col-md-6 p-4">
                <div class="p-3 card-shadow p-4">
                    <h3>Report a security vulnerability</h3>
                    To report a security vulnerability for a project within the http4k ecosystem, see the
                    <a href="/security-policy/">Security Policy</a>
                </div>
            </div>
            <div class="row row-cols-12 mb-5">
                {{ $pages := where .Site.RegularPages "Type" "eq" "security" }}
                {{ range sort $pages "Permalink" "desc" }}
                <div class="col-12 card p-5">
                    <h5>{{ .File.BaseFileName }}: {{ .Title }}</h5>
                    <p><b>{{ .Params.date | time.Format "January 1st 2006" }}</b></p>
                    <p>{{ .Params.description }}</p>
                    <div class="mt-auto d-flex justify-content-end">
                        <a href="{{ .RelPermalink }}" class="btn btn-primary">Read More</a>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </main>
</div>
{{ partial "shared/pipes.html" }}

{{ end }}
