{{ define "main" }}

<div class="layout d-flex">
    <main class="page-content ms-4">
        <article>
            <h1>{{ .Title }}</h1>
            <h5> Severity: {{ .Params.severity }}</h5>
            <h5 style="text-align: right;">{{ .Params.date | time.Format "January 2, 2006" }}</h5>

            {{ .Content }}

            <h3>References</h3>
            <ul>
                <li>Full GitHub Advisory: <a href="{{ .Params.advisory }}"><b>{{ .Params.advisory}}</b></a></li>
            </ul>
            <div class="my-5 d-flex justify-content-center">
                <a href="../" class="btn btn-primary">All Security Advisories</a>
            </div>
        </article>
    </main>
</div>

{{ end }}
