{{ define "main" }}

<div class="layout">
    <main class="page-content">
        <header>
            <h1>{{ .Title }}</h1>
        </header>
        <article>
            <div class="justify-content-end">
                {{ range .Params.tags }}
                <span class="badge text-bg-secondary" style="display:inline">{{ . }}</span>
                {{ end }}
            </div>
            <div class="mt-3">
                {{ .Content }}
            </div>
        </article>

        <div class="mt-auto d-flex justify-content-center">
            <a href="../" class="btn btn-primary">All How-to guides</a>
        </div>
    </main>

</div>
{{ end }}
