<!DOCTYPE html>
<html lang="en">
{{ partial "head/head.html" . }}
{{ partial "shared/landing_styles.html" . }}
<body>
<header class="landing">
    <div class="overlay"></div>
    {{ if .Params.navigation }}
    {{ partial "shared/product_header.html" . }}
    {{ end }}
    <div class="container h-80 text-white">
        <div class="row align-items-center h-100">
            <div class="col-md-7 col-lg-5 col-xl-4">
                <h2 class="header mb-4">{{ .Params.tagline }}</h2>
                <p class="mb-5">{{ .Params.description }}</p>
                <a class="btn btn-secondary" href="{{ .Params.doc_links }}">See the docs</a>
            </div>
        </div>
    </div>
</header>
<div class=".first-block">
    <div style="padding-top: 275px" class="container">
        <div class="row justify-content-center">
            <div class="col-lg-11">
                <div class="api">
                    <div class="row align-items-center">
                        <div class="col-lg-5 col-xl-4">
                            <h2>More than 35 integrations</h2>
                            <p>http4k Connect integrates with many popular Cloud and AI HTTP APIs.</p>
                        </div>
                        <div class="col-lg-7 offset-xl-1">
                            <div class="row justify-content-center align-items-center">
                                <div class="col-6 col-md-3 col-lg-3 text-center integrationLogo"><img class="img-fluid"
                                                                                                      src="/images/openai.svg"
                                                                                                      alt="openai"/>
                                </div>
                                <div class="col-6 col-md-3 col-lg-3 text-center integrationLogo"><img class="img-fluid"
                                                                                                      src="/images/dynamodb.png"
                                                                                                      alt="dynamodb"/>
                                </div>
                                <div class="col-6 col-md-3 col-lg-3 text-center integrationLogo"><img class="img-fluid"
                                                                                                      src="/images/google-analytics.svg"
                                                                                                      alt="google analytics"/>
                                </div>
                                <div class="col-6 col-md-3 col-lg-3 text-center integrationLogo"><img class="img-fluid"
                                                                                                      src="/images/kms.png"
                                                                                                      alt="kms"/></div>

                                <div class="col-6 col-md-3 col-lg-3 text-center integrationLogo"><img class="img-fluid"
                                                                                                      src="/images/sqs.png"
                                                                                                      alt="sqs"/></div>

                                <div class="col-6 col-md-3 col-lg-3 text-center integrationLogo"><img class="img-fluid"
                                                                                                      src="/images/anthropic.png"
                                                                                                      alt="anthropic"/>
                                </div>
                                <div class="col-6 col-md-3 col-lg-3 text-center integrationLogo"><img class="img-fluid"
                                                                                                      src="/images/eventbridge.png"
                                                                                                      alt="eventbridge"/>
                                </div>

                                <div class="col-6 col-md-3 col-lg-3 text-center integrationLogo"><img class="img-fluid"
                                                                                                      src="/images/kafka.svg"
                                                                                                      alt="kafka"/>
                                </div>

                                <div class="col-6 col-md-3 col-lg-3 text-center integrationLogo"><img class="img-fluid"
                                                                                                      src="/images/gitlab.svg"
                                                                                                      alt="gitlab"/>
                                </div>
                                <div class="col-6 col-md-3 col-lg-3 text-center integrationLogo"><img class="img-fluid"
                                                                                                      src="/images/cloudwatch.png"
                                                                                                      alt="cloudwatch"/>
                                </div>
                                <div class="col-6 col-md-3 col-lg-3 text-center integrationLogo"><img class="img-fluid"
                                                                                                      src="/images/langchain.svg"
                                                                                                      alt="langchain"/>
                                </div>
                                <div class="col-6 col-md-3 col-lg-3 text-center integrationLogo"><img class="img-fluid"
                                                                                                      src="/images/firehose.svg"
                                                                                                      alt="firehose"/>
                                </div>
                                <div class="col-6 col-md-3 col-lg-3 text-center integrationLogo"><img class="img-fluid"
                                                                                                      src="/images/s3.png"
                                                                                                      alt="s3"/></div>

                                <div class="col-6 col-md-3 col-lg-3 text-center integrationLogo"><img class="img-fluid"
                                                                                                      src="/images/mattermost.svg"
                                                                                                      alt="mattermost"/>
                                </div>
                                <div class="col-6 col-md-3 col-lg-3 text-center integrationLogo"><img class="img-fluid"
                                                                                                      src="/images/lambda.png"
                                                                                                      alt="lambda"/>
                                </div>
                                <div class="col-6 col-md-3 col-lg-3 text-center integrationLogo"><img class="img-fluid"
                                                                                                      src="/images/ollama.svg"
                                                                                                      alt="ollama"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="features">
        <div class="container">
            <h2>Highlights</h2>
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="card-custom">
                        <img src="/images/supportive.svg" alt="icon"/>
                        <h4>Tiny <br/> footprint</h4>
                        <div class="dash pink-color"></div>
                        <p>In true http4k-style, Connect clients rely on minimal dependencies and zero reflection,
                            perfect for lightweight and security-conscious applications.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="card-custom">
                        <img src="/images/footprint.svg" alt="icon"/>
                        <h4>Total <br/> modularisation</h4>
                        <div class="dash violet-color"></div>
                        <p>Extension of the clients is as simple as combining function calls or implementing a single
                            data class with just 2 simple methods.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="card-custom">
                        <img src="/images/support.svg" alt="icon"/>
                        <h4>Kotlin-<br/> centric</h4>
                        <div class="dash indigo-color"></div>
                        <p>Every API Client leverages Result types and is exception-safe, so you can finally code like
                            it's Kotlin that you're writing!</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="card-custom">
                        <img src="/images/testability.svg" alt="icon"/>
                        <h4>Battle-tested <br/> in the wild</h4>
                        <div class="dash blue-color"></div>
                        <p>Connect API Clients have been used to build high volume applications in Banking, Publishing,
                            eCommerce & Government projects.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="card-custom">
                        <img src="/images/support.svg" alt="icon"/>
                        <h4>First class<br/> testability</h4>
                        <div class="dash green-color"></div>
                        <p>Most API Clients come with an in-memory cloud-service fake which can be used for lightning
                            fast test suites or spun up as a server.<br><br>
                            All fakes are chaos-enabled, so you can test what happens to your code in failure scenarios.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="card-custom">
                        <img src="/images/testability.svg" alt="icon"/>
                        <h4>Total <br/> control</h4>
                        <div class="dash yellow-color"></div>
                        <p>Most API Client libraries hide their HTTP client from you, stopping you from implementing
                            observability or customisation.<br/><br/>
                            Connect allows any http4k client module to be plugged in, so you can leverage the full power
                            of http4k</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="card-custom">
                        <img src="/images/supportive.svg" alt="icon"/>
                        <h4>Ultimate<br/> type safety</h4>
                        <div class="dash orange-color"></div>
                        <p>API Clients leverage TinyTypes to provide typesafe coding and automatic
                            serialisation.<br/><br/>
                            Stop relying on unsafe, stringly-typed APIs.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="card-custom">
                        <img src="/images/footprint.svg" alt="icon"/>
                        <h4>Simple Key/value<br/> storage</h4>
                        <div class="dash red-color"></div>
                        <p>Ships with a storage abstraction for simple key-value storage, and adapters for popular
                            backends.<br/><br/>
                            Plugin in-memory, S3, JDBC or Redis with a single line of code!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="our-document">
    <div class="developers-custom">
        <div class="container-fluid">
            <h2>It's simple to use and extend the built-in API Clients...</h2>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-5 text-center">
                    <p>1. Instantiate your API Client and use, injecting your own HTTP client for observability.</p>
                    <img class="img-fluid" style="border-radius: 8px" src="/images/using-client.png"
                         alt="Using a Connect API Client"/>
                </div>
                <div class="col-lg-5 text-center">
                    <p>2. Is your API action not supported? No problem - simply create your own by extension!</p>
                    <img class="img-fluid" style="border-radius: 8px" src="/images/extending-client.png"
                         alt="Extending a Connect API Client"/>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </div>
    <div class="developers-custom">
        <div class="container-fluid">
            <h2>... or modularise your own API Clients in 4 easy steps ...</h2>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-5 text-center">
                    <p>1. An <b>API Action</b> is just an interface with methods for marshalling the contents of HTTP
                        messages.</p>
                    <img class="img-fluid" style="border-radius: 8px" src="/images/action.png" alt="Defining our Actions"/>
                </div>
                <div class="col-lg-5 text-center">
                    <p>2. An <b>API Client</b> is just a class with a single function and handles with the
                        transport
                        for the remote API.</p>
                    <img class="img-fluid" style="border-radius: 8px" src="/images/api.png" alt="Defining an API action"/>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-1"></div>
                <div class="col-lg-5 text-center">
                    <p>3. Implement any individual Action for your API with <b>a single class</b> and a <b>extension
                        method</b>. Compose multiple calls together without bloating your API Client!
                    </p>
                    <img class="img-fluid" style="border-radius: 8px" src="/images/operation.png"
                         alt="Defining a custom Operation"/>
                </div>
                <div class="col-lg-5 text-center">
                    <p>4. <b>Instantiate the API Client</b> by passing in the HTTP client and other transport
                        requirements, and call it as normal. Exceptions are trapped in the returned Result.</p>
                    <img class="img-fluid" style="border-radius: 8px" src="/images/usage.png"
                         alt="Defining an API action"/>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="learn">
            <div class="row justify-content-center">
                <div class="col-xs-10 col-md-8 col-lg-8 text-center">
                    <h2>Learn from our examples</h2>
                    <p class="lead">See how to harness the http4k Connect toolkit in your projects</p>
                    <a class="btn btn-primary" href="https://www.http4k.org/ecosystem/connect/">Check it out</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sponsors">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-8 text-center">
                <h2>Corporate sponsors</h2>
                <p>http4k partners with selected organisations to fund and explore continued innovation around our
                    projects.
                    If your company is using http4k and would like to take advantage of this program,
                    please <a href="mailto:info@http4k.org?subject=Corporate Sponsorship">get in touch</a>.
                </p>
                <a href="https://springernature.com"><img class="img-fluid"
                                                          src="/images/SN_Technology_simple_black_resized.png"
                                                          alt="Springer Nature Technology"/></a>
                <a href="https://kotlinfoundation.org/"><img class="img-fluid" src="/images/kotlin-foundation.png"
                                                             alt="Kotlin Foundation"/></a>
            </div>
        </div>
    </div>
</div>


{{- partial "shared/footer.html" . -}}
</body>
</html>
