on:
  push:
    branches:
      - master
  repository_dispatch:
      types: [release]
jobs:
  release-site:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.0
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v4.4.0
        with:
          distribution: temurin
          java-version: 21
      - uses: gradle/actions/setup-gradle@v4.1.0
      - name: Build
        timeout-minutes: 25
        run: ./gradlew check
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3.0.0
        with:
          hugo-version: 'latest'
          extended: true
      - name: Build
        run: hugo --minify -s src/website
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4.0.0
        with:
          personal_token: ${{ secrets.TOOLBOX_REPO_TOKEN }}
          external_repository: http4k/http4k.github.io
          publish_branch: master
          publish_dir: build/www
          cname: www.http4k.org
