on:
  repository_dispatch:
    types: [http4k-release]
jobs:
  upgrade:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5.0.0
      - run: |
         git config --local user.name "github-actions"
         git config --local user.email "github-actions@github.com"
         ./upgrade_http4k.sh ${{ github.event.client_payload.version }}
         git add .
         git commit -am "Upgrade http4k"
      - run: git push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: peter-evans/repository-dispatch@v3.0.0
        with:
          event-type: release
