name: Upgrade http4k LTS
on:
  repository_dispatch:
    types:
    - http4k-lts-release
jobs:
  upgrade:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.1
      with:
        ref: lts
    - name: Configure git and upgrade
      run: |-
        git config --local user.name "github-actions"
        git config --local user.email "github-actions@github.com"
        ./upgrade_http4k.sh ${{ github.event.client_payload.version }}
        git add .
        git commit -am "Upgrade http4k"
      shell: bash
    - name: Push changes
      run: git push
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      shell: bash
    - name: Trigger LTS release
      run: |-
        curl -L \
          -X POST \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer $GH_TOKEN" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          https://api.github.com/repos/${{ github.repository }}/dispatches \
          -d '{"event_type":"lts-release","client_payload":{}}'
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      shell: bash